nav{
display: flex;
align-items: center;
justify-content: space-between;
background-color: #1b2430;
padding: 20px 80px;
box-shadow: 0 5px rgba(0,0,0,0.06);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    position: relative;
    padding: 0px 20px;
}

#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: blue;
}

#navbar li a:hover::after{
content:"";
width: 50%;
height: 2px;
background: yellow;
position: absolute;
bottom: 0px;
left: 14px;
}

#navbar li a:hover{
    color: aqua;
    transition: 0.3s ease-in-out;

}